
click==6.7
cryptography==1.7.1
enum34==1.1.6
Flask==0.12.2
gunicorn==19.7.1
idna==2.2
ipaddress==1.0.17
itsdangerous==0.24
Jinja2==2.9.6
keyring==10.3.1
keyrings.alt==2.2
MarkupSafe==1.0
pyasn1==0.1.9
pycrypto==2.6.1

pyxdg==0.25
SecretStorage==2.3.1
six==1.10.0

virtualenv==15.1.0
Werkzeug==0.12.2
